:root{
    --pri:#FCDEC0;
    --sec:#451609;
    --tri1:#f39600;
    --tri2:#B4846C;
    --red:red;
}

@font-face{
    font-family:light;
    src:url(./aeoniktrial-light.otf)

}
@font-face{
    font-family:bold;
    src:url(./aeoniktrial-bold.otf);
}
@font-face{
     font-family:normal;
    src:url(./aeoniktrial-regularitalic.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: light;
    font-size: 20px;
    color: var(--pri);
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}
section.allElem{
height: 100%;
width: 100%;
padding: 40px;
padding-top: 80px;
display: flex;
flex-wrap:wrap ;
align-items: flex-start;
gap: 50px;
position: absolute;

}

.elem{
    background-color: var(--tri1);
    /* padding: 20px 30px; */
    font-size: 50px;
    border-radius: 10px;
    height: 400px;
    width: 330px;
 text-align: center;
 overflow: hidden;
 position: relative;
 transition: all ease 0.5s;
 box-shadow: 0 5px 20px var(--pri);
 cursor: pointer;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.elem h2{
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.elem:active{
    scale: 0.92;
}
.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
   display:none;
   position: absolute;
}
.back{
    position: absolute;
    right:5%;
    background-color: var(--sec);
    border-radius: 50%;
    padding: 10px 12px;
    border: none;
    font-size: 50px;
    font-weight: 700;
    cursor: pointer;
}
.back:active{
    scale:0.94;
}
.todo-list-fullpage h2{
    font-size: 60px;
}
.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 40px;
    /* background-color: var(--tri2); */
    display: flex;
    align-items: center;
    justify-content: space-between;
  


    
}
.todo-list-fullpage .todo-container .addTask{
    background-color: var(--tri2);
      width: 33%;
    height:100%   ;
      border-radius: 20px;
   


}
.todo-list-fullpage .todo-container  .allTask{
    height: 100%;
    width: 65%;
    background-color: var(--tri2);
       border-radius: 20px;

}
.todo-list-fullpage .todo-container .addTask form{
    display:flex;
flex-direction: column;
align-items: flex-start;
padding: 30px;
}
 .todo-container .addTask form #task-input{
    padding: 10px 25px;
    width: 100%;
    font-size:25px;
    background-color: var(--sec);
    border-radius:5px ;
    border: none;
    outline: none;
    margin-bottom: 20px;

 }
 .todo-container .addTask form textarea{
    padding: 10px 25px;
    width: 100%;
    font-size:25px;
    background-color: var(--sec);
    border-radius:5px ;
    border: none;
    outline: none;
    margin-bottom: 20px;

 }
 .todo-container .addTask form button{
    padding: 10px 25px;
    width: 100%;
    font-size:25px;
    background-color: var(--tri1);
    border-radius:5px ;
    border: none;
    font-weight: 700;
    outline: none;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all ease 0.3s;

    
 }
 .todo-container .addTask form button:active{
    scale: 0.95;
 }
 .todo-list-fullpage .todo-container  .allTask{
    height: 100%;
    width: 65%;
    background-color: var(--tri2);
       border-radius: 20px;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       padding: 30px;

}
.task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--sec);
    padding: 20px 30px;
    margin-bottom: 10px;
    overflow: auto;

}
.task h5{
    color: var(--pri);
    font-size: 30px;

}
.task button{
    padding:15px 30px;
    color: var(--pri);
    background-color: rgba(32, 226, 7, 0.997);
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;

    border: none;
    font-weight: 600;
    transition: all ease 0.3s;
}
.task button:active{
    scale: 0.94;
}
.mark-imp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    margin-bottom: 20px;
    width: 100%;
    gap: 30px;
}
.mark-imp input{
font-size:70px ;
scale: 2;
}
.mark-imp label{
font-size:20px ;

}